<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="da6ca1ea-710a-4712-9821-d6b288e348f0" activeEnvironment="Default environment" name="Task1" resourceRoot="" soapui-version="6.0.0" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:vcsConfiguration><con:vcsName>Git</con:vcsName><con:repositoryIdentifier>git@github.com:irinakartun/web-services.git</con:repositoryIdentifier></con:vcsConfiguration><con:requirements/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:reporting/><con:authRepository/></con:soapui-project>