<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="59fdd1e8-895d-4869-9e58-a26c1db10dab" activeEnvironment="Default environment" name="Task2" resourceRoot="" soapui-version="6.0.0" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:vcsConfiguration><con:vcsName>Git</con:vcsName><con:repositoryIdentifier>git@github.com:irinakartun/web-services.git</con:repositoryIdentifier></con:vcsConfiguration><con:requirements/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/><con:reporting/><con:authRepository/></con:soapui-project>