<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="3312de6f-7290-4555-a4f8-8ec3ea5b79bb" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://geoip.elib.ru" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="3312de6f-7290-4555-a4f8-8ec3ea5b79bbfileName">http%3A%2F%2Fgeoip.elib.ru</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://geoip.elib.ru</con:endpoint></con:endpoints></con:interface>